.color-navbar {
  background: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.color-navbar:hover {
  filter: brightness(1.1);
}

.color-texto-marca {
  color: #1e3d87;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #1e3d87, #0093E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.color-texto-marca:hover {
  filter: brightness(1.2);
}
